body {
    text-align: center;
    margin: 0;
    background: hsla(132, 14%, 93%, 0.621);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    user-select: none;
  }
  
  #calculator {
    max-width: 360px;
    background-color: #22b8e2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(5, 114, 238, 0.9), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  
  #display {
    width: 100%;
    height: 56px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color: #141413;
    background-color: rgb(221, 236, 222);
    border: none;
    box-sizing: border-box;
  }
  
  button {
    width: calc(21% - 1px);
    height: 60px;
    font-size: 25px;
    margin: 10px 5px;
    border: none;
    border-radius: 50px;
    float: left;
    background-color: #eef5ea;
    color: #1115e9;
    -webkit-box-shadow: -1px 1px 1px 1px rgba(240, 201, 201, 0.2);
    -moz-box-shadow: -1px 1px 1px 1px rgba(240, 201, 201, 0.2);
    box-shadow: -1px 1px 1px 1px rgba(240, 201, 201, 0.2);
    transition: 0.3s;
  }
  
  button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(232, 236, 232);
    text-shadow: 0 0 18px rgb(218, 226, 216);
  }
  
  button:active {
    transform: scale(1.05);
    box-shadow: 0 2px 4px 1px rgba(112, 240, 8, 0.19),
      0 1.5px 1.5px rgba(236, 243, 237, 0.23);
  }
  
  .operator {
    color: #0d34e0;
  }
  
  #ac {
    color: #0b21e4;
  }
  
  .equal {
    width: calc(48% - 10px);
  }
  
  .white {
    background-color: rgb(233, 233, 233);
  }
  .white:hover {
    transform: scale(1.1);
  }
  
  .Equalcolor {
    background-color: rgb(17, 83, 224);
    color: rgb(224, 230, 221);
    font-size: 20px;
  }
  
  .size {
    font-size: 40px;
  }
  
  .color {
    background-color: rgb(231, 233, 238);
    color: rgb(16, 13, 235);
  }
  